schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gpx="http://www.topografix.com/GPX/1/0"
    xmlns:groundspeak="http://www.groundspeak.com/cache/1/0/1"
    elementFormDefault="qualified"

    targetNamespace="https://github.com/opencaching/gpx-extension/tree/stable-v1"
    xmlns="https://github.com/opencaching/gpx-extension/tree/stable-v1"
>
    <xs:annotation>
        <xs:documentation>
            This schema describes Opencaching Network extensions to the:

            1. Topografix GPX file XML schema, identified by "http://www.topografix.com/GPX/1/0"
               XML namespace. We will refer to elements in this namespace using the "gpx:"
               prefix.

            2. Groundspeak's geocaching GPX extensions, identified by
               "http://www.groundspeak.com/cache/1/0/1" XML namespace. We will refer to
               elements in this namespace using the "groundspeak:" prefix.

            Note, that "Opencaching Network" refers to the sites such as Opencaching.PL and
            Opencaching.DE, NOT the (discontinued) Garmin's Opencaching.COM site.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="cache">
        <xs:annotation>
            <xs:documentation>
                This element is supposed to be added as a child of the gpx:wpt element, if the
                wpt element describes an Opencaching geocache.

                Note, that Opencaching uses this element to convey information which cannot be
                conveyed in other means (i.e. with the existing elements in the gpx and
                groundspeak namespaces).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requiresPassword" type="xs:boolean" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            If true, then a password is required in order to submit 'Found it'
                            or 'Attended' logs for this geocache.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="log_uuid" type="xs:string">
        <xs:annotation>
            <xs:documentation>
                This element is supposed to be added as a child of the groundspeak:log element.
                It contains the UUID of the log entry.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

</xs:schema>
